# OS X
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript
*.tsbuildinfo

# Build artifacts
dist/
public/app.js
release/
